*                 text=auto
*.*ignore         text

# GitHub Linguist overrides
css/w3.css                     linguist-vendored
api/myanimelist/**             linguist-vendored
api/myanimelist/__init__.py   -linguist-vendored

app.config                     linguist-language=INI
