# Miirakuru Config File
# -*-*-*-*-*-*-*-*-*-*-

# You can keep this config file pushable to commit since it does not contains
# any API Keys

# Accepted modified values:
#   Boolean : true; false; yes; no
#   Null    : null; none; nothing
#   Array   : separated by comma (,), unless specified otherwise; regular JSON
#             style array

[General]

[General.Embed]
# General settings for embed
EmbedColor = 0xBBBBBB
EmbedAuthor = Miirakuru
EmbedAuthorIcon = https://raw.githubusercontent.com/nattadasu/miirakuru/main/assets/icon.png
ShowTimestamp = true

[General.WhiteList.Server]
# Tells Miirakuru which server to whitelist
# Default: none
# Accepted values: Null, Array
# Example: 1111111111111,2222222222222,3333333333333
#          OR
#          [1111111111111, 2222222222222, 3333333333333]
Servers = []

[General.WhiteList.User]
# Tells Miirakuru which user to whitelist
# Default: none
# Accepted values: Array
# Example: 1111111111111,2222222222222,3333333333333
#          OR
#          [1111111111111, 2222222222222, 3333333333333]
Users = []

[Task.Oauth.Refresh]
# Tells Miirakuru time interval to refresh the OAuth token
# Default: 10 minutes
# Accepted values: Integer
Seconds = 0
Minutes = 10
Hours = 0
Days = 0

[Task.Activity.Sync]
# Tells Miirakuru time interval to check if there is any activity to sync
# Default: 1 minute
# Accepted values: Integer
Seconds = 0
Minutes = 1
Hours = 0
Days = 0

[SyncTo.Anime]
# Tells Miirakuru how to sync the data to the platforms you want
# Default: true
# Accepted values: Boolean
aniDB = true
AniList = true
Annict = true
Bangumi = true
Kaize = true
Kitsu = true
LiveChart = true
MyAnimeList = true
Nautiljon = true
Notify = true
OtakOtaku = true
Shikimori = true
SIMKL = true
TheMovieDB = true
Trakt = true

[SyncTo.Manga]
# Tells Miirakuru how to sync the data to the platforms you want
# Default: true
# Accepted values: Boolean
AniList = true
Bangumi = true
Kaize = true
Kitsu = true
MangaDex = true
MangaUpdates = true
MyAnimeList = true
Shikimori = true

[Integration.MyAniLi]
# Tells Miirakuru if you want to integrate with MyAniLi

# Setting Integrate to True will try to read settings
#    from MyAniLi on each entry's comment
Integrate = false
# Tells Miirakuru if you want to save entry's metadata to comment in each platform
WriteMetadataToComment = false
