[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
flask = {extras = ["async"], version = "*"}
interactions-py = "5.10.0"
keyring = "*"
python-dotenv = "*"
pyyaml = "*"
requests = "*"
SecretStorage = {version = "*", markers = "sys_platform == 'linux'"}
typer = {extras = ["all"], version = "*"}

[dev-packages]

[requires]
python_version = "3.11"
